body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.overlay {
	justify-content: center;
	align-items: center;
	/* 열기전 */
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	z-index: 9999;
}

.toc {
  background-color: #ecfffef0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 600px;
  height: auto;
  text-align: left;
  margin: 0 auto;
}

.toc-other {
  background-color: #ecfffef0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.toc-other .video-play,
.toc-other object {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.toc-other .pdfViewer {
  width: 100%;
  max-width: 100%;
  height: 80vh; /* 고정된 뷰포트 기준 높이 */
  object-fit: contain;
  border: none;
}

.toc-content {
  background-color: #ecfffef0;
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 800px;
  height: 70vh; /* ★ 높이 설정 (필수) */
  overflow-y: auto; /* 수직 스크롤 */
  overflow-x: hidden; /* 수평 스크롤 방지 */
  margin: 0 auto;
}

.toc-content .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.toc-content .section {
  width: 48%;
  margin-bottom: 20px;
}

.toc-content .section.left {
  order: 1;
}

.toc-content .section.right {
  order: 2;
}

.toc-content .images-left,
.toc-content .images-right,
.toc-content .images-center {
  width: 100%;
  height: auto;
}

.toc-other .image-container img,
.toc-other .text-container img {
  max-width: 100%;
  height: auto;
}

.toc-other .container {
  color: black;
}

.toc h2 {
  margin-top: 0;
}

.toc ul {
  list-style-type: disc;
  padding-left: 20px;
  color: black;
}

.toc li {
  margin: 10px 0;
}

.toc a {
  text-decoration: none;
  color: #007BFF;
  transition: color 0.3s;
}

.toc a:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .toc-content .section {
    width: 100%;
  }

  .toc {
    width: 95%;
  }

  .toc-content {
    height: 60vh; /* 모바일에서 더 낮게 */
    padding: 10px;
  }

  .toc-other .pdfViewer {
     height: 80vh; /* 충분히 높게 */
     overflow-y: scroll;
  }
  
   .toc-other .pdfViewer {
    height: 60vh; /* 모바일에서 조금 더 낮게 */
  }
}
