<div class="container">
    <p>20대 중반 어느 날 지나가던 타인이 하던 이야기를 들으며 제 인생 모토는 달라졌습니다.<br> 정말 인상적이여서 찾아보니 정말 있는 얘기더라구요.</p>
    
    <div class="section left" id="section1">
        <div class="image-container">
            <img src="images/thumbs/search.jpg" class="images-left" alt="좌측 해당부분 증거 이미지">
        </div>
    </div>

    <div class="section right" id="section2">
        <div class="text-container">
            <p>그래서 저는 이렇게 살아보고자 했습니다.</p>
            <p>즐길 수 있는 스포츠인 수영을 익혔습니다.</p>
            <img src="images/thumbs/swimming.jpg" class="images-right" alt="수영 이미지">
        </div>
        <div class="text-container">
            <p>다룰 수 있는 악기인 기타와 우쿨렐레를 배웠습니다.</p>
            <img src="images/thumbs/musicPlaying.jpg"  class="images-right" alt="기타와 우쿨렐레 이미지">
        </div>
         <div class="text-container">
            <p>약자를 돕기 위한 봉사활동을 하였습니다.</p>
            <img src="images/thumbs/communityService.jpg"  class="images-right" alt="봉사활동 이미지">
        </div>
        <div class="text-container">
            <p>나만의 레시피인 음식을 연구하기 시작했고, 제 주장과 신념을 가지기 위해 책을 읽어 갔습니다.</p>
            <img src="images/thumbs/book.jpg"  class="images-right" alt="요리 이미지">
        </div>
    </div>
</div>

